* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(49, 47, 47);

}

header {
    background: rgb(181, 48, 46);
    padding: 20px;
    font-size: 35px;
}

header>h1 {
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.score-board {
    margin: 10px auto;
    border: 3px solid rgb(174, 37, 73);
    border-radius: 6px;
    text-align: center;
    width: 300px;
    color: black;
    font-size: 40px;
    padding: 15px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    font-weight: bold;
}

.tag {
    background-color: teal;
    color: black;
    font-size: 16px;
    padding: 2px 8px;
    font-weight: bolder;
    border: 2px solid rgb(14, 14, 22);

}

#myplayer-label {
    position: absolute;
    top: 20px;
    left: -28px;
    border-bottom-right-radius: 35px;
}

#enemy-label {
    position: absolute;
    top: 20px;
    right: -28px;
    border-bottom-left-radius: 35px;
}

#sbp {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.result-container {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-weight: bold;
}

.result {
    text-align: center;
}

.all-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.options-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

}

.option {
    display: flex;
    margin: 5px;
    width: 250px;
    height: 200px;
    border: 3px solid black;
    border-radius: 40px;

}

.option:hover {
    transform: scale(1.1);
    box-shadow: 6px 6px 6px rgba(220, 115, 115, 0.593);
}
.text {
    display: none;
    color: rgb(12, 1, 1);
    background-color: rgba(220, 115, 115, 0.593);
    border-radius: 20px;
    padding: 5px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}
.option:hover .text {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
}

img {
    pointer-events: none;
    max-width: 100%;
    max-height: 100%;
    display: block;
    padding: 10px 10px;
    align-items: center;
    margin: 0 auto;
}

.new-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 75%;
    margin-top: 30px;
    width: 100px;
    height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


#new-game-button:hover {
    transform: scale(1.1);
    /* background-color: cadetblue; */
    border-radius: 10px;
    box-shadow: 6px 6px 2px 1px rgba(180, 49, 13, 0.782);
}


#player-display {
    display: flex;
    flex-direction: row;
}

#enemy-display {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: end;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}